<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>840515033444-i7a2eqgaeufvf48ci1tf2bt036l0cft5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.840515033444-i7a2eqgaeufvf48ci1tf2bt036l0cft5</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>840515033444-4ah8jh7sqa0r4cdldrklb73ed22fh9du.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBn0OMETdl9-vwpCaFXhfeI-p4wlDhUHLM</string>
	<key>GCM_SENDER_ID</key>
	<string>840515033444</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Sozolab.zampa</string>
	<key>PROJECT_ID</key>
	<string>eatout-70b8b</string>
	<key>STORAGE_BUCKET</key>
	<string>eatout-70b8b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:840515033444:ios:f091dd798e213d5356c271</string>
</dict>
</plist>